* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

h1 {
    display: flex;
    justify-content: center;
    margin: 10px;
    color: hotpink;
}

.input {
    display: flex;
    justify-content: center;
    padding: 20px;
}

button {
    margin-top: 30px;
    display: flex;
    padding: 10px;
    border: 1px solid darkmagenta;
    border-radius: 20px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-weight: bolder;
    background-color: lightpink;
    margin: auto;
}

#result{
    color: blue;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}